In [1]:
import pyspark
sc = pyspark.SparkContext()
spark = pyspark.sql.SparkSession(sc)

# Read DataFrame from data source

In [2]:
n = 'https://raw.githubusercontent.com/sehgalayush1/movie_revenue/master/ml_modules/data/BollywoodMovieDetail.csv'
f = 'BollywoodMovieDetail.csv'

sc.addFile(n)
movies = spark.read.option("header", True).option("inferSchema", "true").csv(pyspark.SparkFiles.get(f))

In [3]:
movies.createOrReplaceTempView("tempView")

# Sample SQL queries

In [5]:
spark.sql("SELECT title FROM tempView WHERE releaseYear > 2010 ORDER BY title desc").show(3)

+--------------------+
|               title|
+--------------------+
|            Zokkomon|
|   Zindagi Tere Naam|
|Zindagi Na Milegi...|
+--------------------+
only showing top 3 rows

In [6]:
df = spark.sql("""SELECT title, CASE WHEN hitFlop < 5 THEN 'below average' WHEN hitFlop = 5 THEN 'average' WHEN hitFlop > 5 THEN 'above average' END AS MovieRating FROM tempView WHERE releaseYear > 2010 ORDER BY title desc""")

In [7]:
df.show()

+--------------------+-------------+
|               title|  MovieRating|
+--------------------+-------------+
|            Zokkomon|below average|
|   Zindagi Tere Naam|below average|
|Zindagi Na Milegi...|above average|
|       Zindagi 50 50|below average|
|                 Zid|below average|
|            Zed Plus|below average|
|             Zanjeer|below average|
|         Youngistaan|below average|
|   Yeh Saali Zindagi|below average|
| Yeh Jo Mohabbat Hai|below average|
|Yeh Jawaani Hai D...|above average|
|    Yeh Hai Bakrapur|below average|
|         Yeh Faasley|below average|
|      Ye Stupid Pyar|below average|
|Yamla Pagla Deewa...|below average|
| Yamla Pagla Deewana|above average|
|            Yaariyan|below average|
|              Ya Rab|below average|
|       What the Fish|below average|
|             Warning|below average|
+--------------------+-------------+
only showing top 20 rows

# Create a table

In [8]:
spark.sql("CREATE DATABASE spark_course")

DataFrame[]

In [9]:
spark.sql("USE spark_course")

DataFrame[]

In [34]:
spark.sql("SHOW TABLES").show(5, False)

+------------+---------------------------------------+-----------+
|namespace   |tableName                              |isTemporary|
+------------+---------------------------------------+-----------+
|spark_course|movieshortdetailunmanaged              |false      |
|spark_course|movieshortdetailusingdataframe         |false      |
|spark_course|movieshortdetailusingdataframeunmanaged|false      |
|            |tempview                               |true       |
+------------+---------------------------------------+-----------+

In [12]:
movies.write.saveAsTable("movieShortDetailUsingDataFrame")

In [13]:
spark.sql("SHOW TABLES").show(5, False)

+------------+------------------------------+-----------+
|namespace   |tableName                     |isTemporary|
+------------+------------------------------+-----------+
|spark_course|movieshortdetailusingdataframe|false      |
|            |tempview                      |true       |
+------------+------------------------------+-----------+

In [20]:
spark.sql("DROP TABLE movieShortDetailUnmanaged");
spark.sql("CREATE TABLE movieShortDetailUnmanaged (imdbID STRING, title STRING) USING parquet OPTIONS (PATH 'data/moviesFile')")

DataFrame[]

In [26]:
df = spark.sql("SELECT * FROM movieShortDetailUnmanaged")

In [27]:
df.show()

+------+-----+
|imdbID|title|
+------+-----+
+------+-----+

In [28]:
movies.show()

+---------+--------------------+-----------+-----------+--------------------+--------------------+--------------------+--------------------+------+-------+
|   imdbId|               title|releaseYear|releaseDate|               genre|             writers|              actors|           directors|sequel|hitFlop|
+---------+--------------------+-----------+-----------+--------------------+--------------------+--------------------+--------------------+------+-------+
|tt0118578|              Albela|       2001|20 Apr 2001|             Romance|Honey Irani (scre...|Govinda | Aishwar...|       Deepak Sareen|     0|      2|
|tt0169102|Lagaan: Once Upon...|       2001|08 May 2002|Adventure | Drama...|Ashutosh Gowarike...|Aamir Khan | Grac...|  Ashutosh Gowariker|     0|      6|
|tt0187279|Meri Biwi Ka Jawa...|       2004|02 Jul 2004|     Action | Comedy|                 N/A|Akshay Kumar | Sr...|Pankaj Parashar |...|     0|      1|
|tt0222024|Hum Tumhare Hain ...|       2002|24 May 2002|     Drama | Romance|K.S. Adiyaman | A...|Shah Rukh Khan | ...|       K.S. Adiyaman|     0|      4|
|tt0227194|          One 2 Ka 4|       2001|30 Mar 2001|Action | Comedy |...|Sanjay Chhel | Ra...|Shah Rukh Khan | ...|   Shashilal K. Nair|     0|      1|
|tt0238936|              Devdas|       2002|12 Jul 2002|   Musical | Romance|Saratchandra Chat...|Shah Rukh Khan | ...|Sanjay Leela Bhan...|     0|      6|
|tt0247911|Aap Mujhe Achche ...|       2002|19 Apr 2002|Action | Drama | ...|Robin Bhatt (stor...|Hrithik Roshan | ...|        Vikram Bhatt|     0|      2|
|tt0248126|Kabhi Khushi Kabh...|       2001|14 Dec 2001|Drama | Musical |...|Karan Johar | She...|Amitabh Bachchan ...|         Karan Johar|     0|      8|
|tt0248216| Na Tum Jaano Na Hum|       2002|10 May 2002|Comedy | Drama | ...|Pratibha Acharya ...|Saif Ali Khan | H...|        Arjun Sablok|     0|      1|
|tt0248617|          Yaadein...|       2001|27 Jun 2001|Musical | Drama |...|Subhash Ghai (dia...|Jackie Shroff | H...|        Subhash Ghai|     0|      2|
|tt0255713|            Zubeidaa|       2001|19 Jan 2001|Adventure | Biogr...|Khalid Mohamed (o...|Karisma Kapoor | ...|       Shyam Benegal|     0|      1|
|tt0256692|Chori Chori Chupk...|       2001|09 Mar 2001|Drama | Musical |...|Shyam Goel (scree...|Preity Zinta | Sa...|Abbas Alibhai Bur...|     0|      5|
|tt0265148|Main Prem Ki Diwa...|       2003|27 Jun 2003|Musical | Drama |...|  Sooraj R. Barjatya|Hrithik Roshan | ...|  Sooraj R. Barjatya|     0|      2|
|tt0265452|             Officer|       2001|14 Mar 2001|Action | Crime | ...|Naeem Sha (dialog...|Sunil Shetty | Ra...|           Naeem Sha|     0|      2|
|tt0267363|         Chandni Bar|       2001|28 Sep 2001|       Crime | Drama|Mohan Azaad (dial...|Tabu | Atul Kulka...|   Madhur Bhandarkar|     0|      5|
|tt0271604|Kuch Khatti Kuch ...|       2001|19 Jan 2001|      Drama | Family|                 N/A|Kajol | Rishi Kap...|        Rahul Rawail|     0|      2|
|tt0272543|              Censor|       2001|14 Feb 2001|   Musical | Romance|           Dev Anand|Dev Anand | Hema ...|           Dev Anand|     0|      1|
|tt0272607|                Farz|       2001|12 Jan 2001|              Action|                 N/A|Sunny Deol | Prei...|          Raj Kanwar|     0|      4|
|tt0272735|Mujhe Meri Biwi S...|       2001|18 Jun 2001|Comedy | Musical ...|Harry Baweja (sto...|Rekha | Naseerudd...|        Harry Baweja|     0|      1|
|tt0272736|Mujhse Dosti Karoge!|       2002|09 Aug 2002|Musical | Romance...|Aditya Chopra | K...|Rani Mukerji | Hr...|         Kunal Kohli|     0|      2|
+---------+--------------------+-----------+-----------+--------------------+--------------------+--------------------+--------------------+------+-------+
only showing top 20 rows

In [30]:
# movies.write.option("path","data/shortMovieDetail.csv").saveAsTable("movieShortDetailUsingDataFrameUnmanaged")

In [32]:
df = spark.sql("SELECT * FROM movieShortDetailUsingDataFrameUnmanaged")

In [33]:
df.show()

+------+-----+-----------+-----------+-----+-------+------+---------+------+-------+
|imdbId|title|releaseYear|releaseDate|genre|writers|actors|directors|sequel|hitFlop|
+------+-----+-----------+-----------+-----+-------+------+---------+------+-------+
+------+-----+-----------+-----------+-----+-------+------+---------+------+-------+