# Q1: Select Top N per Category

https://towardsdatascience.com/top-sql-interview-test-questions-techniques-part-1-971bdccc745c

In [10]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in /opt/conda/lib/python3.9/site-packages (0.4.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /opt/conda/lib/python3.9/site-packages (from ipython-sql) (1.4.29)
Requirement already satisfied: prettytable<1 in /opt/conda/lib/python3.9/site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: six in /opt/conda/lib/python3.9/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython>=1.0 in /opt/conda/lib/python3.9/site-packages (from ipython-sql) (7.30.1)
Requirement already satisfied: ipython-genutils>=0.1.0 in /opt/conda/lib/python3.9/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlparse in /opt/conda/lib/python3.9/site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: setuptools>=18.5 in /opt/conda/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (60.1.0)
Requirement already satisfied: traitlets>=4.2 in /opt/conda/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: pygments in /opt/conda/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (2.10.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /opt/conda/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (3.0.24)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: backcall in /opt/conda/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.1.3)
Requirement already satisfied: pickleshare in /opt/conda/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: decorator in /opt/conda/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.9/site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.2)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /opt/conda/lib/python3.9/site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.9/site-packages (from pexpect>4.3->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.9/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)

In [11]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [12]:
%sql postgresql://test:secret@api.kist.cp.fyre.ibm.com/testdb

In [30]:
%%sql
drop table if exists names;
drop table if exists scores;
drop table if exists classes;
create table names(student_id int primary key not null, name varchar(100));
create table scores (student_id int, scores int , foreign key (student_id) references names(student_id));
create table classes (student_id int, class char(1) , foreign key (student_id) references names(student_id));

 * postgresql://test:***@api.kist.cp.fyre.ibm.com/testdb
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [32]:
%%sql
insert into names values(1,'James'),(2,'Michael'),(3,'Valarie'),(4,'Jessie'),(5,'Douglas'),(6,'Shin'),(7,'Joanne');
insert into names values(8,'John');

insert into classes values(1,'A'),(2,'B'),(3,'A'),(4,'B'),(5,'D'),(6,'B'),(7,'A');
insert into classes values(8,'A');

insert into scores values(1,90),(2,83),(3,79),(4,97),(5,90),(6,92),(7,94);
insert into scores values(8,94);

 * postgresql://test:***@api.kist.cp.fyre.ibm.com/testdb
7 rows affected.
1 rows affected.
7 rows affected.
1 rows affected.
7 rows affected.
1 rows affected.

[]

Pay attention to dense_rank(), not rank() or row_number() because we want to identify students with highest two scores. <br>
This way we are able to pick up all students with 94 and 90 scores in class A

In [35]:
%%sql with T as (
select class,name,scores,N.student_id from names as N,classes as C,scores as S where N.student_id = C.student_id and N.student_id = S.student_id
) select class,name,scores from (select T.*,dense_rank() over ( partition by class order by scores desc) R from T order by class,scores desc) as TT where R <= 2

 * postgresql://test:***@api.kist.cp.fyre.ibm.com/testdb
6 rows affected.

[('A', 'Joanne', 94),
 ('A', 'John', 94),
 ('A', 'James', 90),
 ('B', 'Jessie', 97),
 ('B', 'Shin', 92),
 ('D', 'Douglas', 90)]