In [1]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (0.4.0)
Requirement already satisfied: six in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: prettytable<1 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: sqlparse in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: ipython-genutils>=0.1.0 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython-sql) (1.4.22)
Requirement already satisfied: ipython>=1.0 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython-sql) (7.22.0)
Requirement already satisfied: decorator in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (5.0.9)
Requirement already satisfied: traitlets>=4.2 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (5.0.5)
Requirement already satisfied: backcall in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: pickleshare in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (3.0.17)
Requirement already satisfied: pexpect>4.3 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: pygments in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (2.9.0)
Requirement already satisfied: jedi>=0.16 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.17.2)
Requirement already satisfied: setuptools>=18.5 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (52.0.0.post20210125)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from pexpect>4.3->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)

In [6]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
(psycopg2.OperationalError) FATAL:  no such user

(Background on this error at: https://sqlalche.me/e/14/e3q8)
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [9]:
%sql  postgresql://test:secret@api.kist.cp.fyre.ibm.com/testdb

# Employee Salaries
https://www.interviewquery.com/questions/employee-salaries

In [10]:
%%sql
create table employees(id int primary key,first_name varchar,last_name varchar,salary int, department_id int);

create table departments(id int primary key,name varchar);

 * postgresql://test:***@api.kist.cp.fyre.ibm.com/testdb
Done.
Done.

[]

In [11]:
%%sql
insert into employees values(1,'bob','Smith',1000000,4),(2,'jason','Joseph',100000,2),(3,'Dilon','Jefferson',30000,1);
insert into employees values(4,'Ted','Thompson',9000,3),(5,'Bill','Smith',85000,2),(6,'Ed','Winters',292314,4);
insert into employees values(7,'August','Rains',222999,1),(8,'Lakesha','Jackson',421232,4),(9,'Chad','McDaniels',64000,1);
insert into employees values(10,'Ben','Wang',99999,1),(11,'Anderson','Iffil',100200,1),(12,'Cynthia','Sams',220192,1);
insert into employees values(13,'Alina','Chu',130000,1),(14,'Aretha','Jankins',333333,1),(15,'Wilhelma','Von Bizmark',203000,1);
insert into employees values(16,'Marco','Ruben',89100,2),(17,'Alfred','Wong',110239,1),(18,'Jeff','Chu',95000,1);
insert into employees values(19,'Maninder','Singh',111000,1),(20,'Arvind','Tuk',140000,3),(21,'Dorothy','Gall',5000000,2);

 * postgresql://test:***@api.kist.cp.fyre.ibm.com/testdb
3 rows affected.
3 rows affected.
3 rows affected.
3 rows affected.
3 rows affected.
3 rows affected.
3 rows affected.

[]

In [12]:
%%sql
insert into departments  values(1,'Dep 1'),(2,'Dep 2'),(3,'dep 3'),(4,'Dep 4'),(5,'Dep 5');

 * postgresql://test:***@api.kist.cp.fyre.ibm.com/testdb
5 rows affected.

[]

Calculate and sort by percentage over 100K

In [14]:
%%sql

with C1 as 
(select department_id,count(*) as N from employees group by 1),
C2 as (select department_id,count(*) as N from  employees where salary > 100000 group by 1)

select D.name,(C2.N * 100 / C1.N) as percentage_over_100,C1.N as number_of_employees from C1,C2,departments D where C1.department_id = C2.department_id and C1.department_id = D.id order by 2 desc

 * postgresql://test:***@api.kist.cp.fyre.ibm.com/testdb
4 rows affected.

[('Dep 4', 100, 3), ('Dep 1', 66, 12), ('dep 3', 50, 2), ('Dep 2', 25, 4)]